* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.main-div {
    max-width: 600px;
    height: 100vh;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.background-div {
    height: 300px;
}

.overlay-div {
    padding: 0 20px;
}

.imgSize {
    width: 50px;
    height: 50px;

}

.background-div {
    width: 100%;
    display: flex;
    z-index: 1;
    height: 300px;
    background-image: url('./assets/lastbg.jpg');
    background-size: cover;
    background-position: center;
}

.background-div .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-div img {
    position: relative;
    left: 10px;
    width: 295px;
}

.overlay-div {
    position: absolute;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay-div .img-class {
    width: 100px;
    height: auto;
}

.inter-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0 20px 0;
}

.middle-div {
    padding: 0 20px;
    font-family: sans-serif;
    width: 50%;
}

.middle-div p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2F3645;
}

.middle-div .fonction {
    margin: 20px 0;
}

.middle-div .fa-linkedin {
    margin-right: 10px;
    cursor: pointer;
}

.middle-div span {
    margin: 20px 0;
    margin-right: 15px;

}

.middle-div span i {
    color: #25558D;
    font-size: 25px;
    cursor: pointer;
}

.middle-div .dgname {
    font-size: 14px;
}

.line {
    width: 2px;
    height: auto;
    background-color: #25558D;
    margin-right: 20px;
}

.bottom-div {
    width: 50%;
    font-family: sans-serif;
}

.bottom-div h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    color: #2F3645;
    ;
}

.bottom-div .p1 {
    padding-left: 15px;
    margin-right: 15px;
}

.bottom-div .pi {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.bottom-div .pi i {
    color: #25558D;
    font-size: 25px;
}

.bottom-div p {
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0;
    color: #2F3645;
}

.bottom-div a {
    text-decoration: none;
    padding-right: 15px;
    cursor: pointer;
    color: #2F3645;
}

.bottom-div p i {
    color: #25558D;
    font-size: 35px;
    padding-right: 15px;
    cursor: pointer;
}

.carousel-fix {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-fix .a-propos span i {
    color: #25558D;
    font-size: 35px;
    text-align: right;
    margin: 20px;
    cursor: pointer;
}

.carousel {
    position: relative;
    top: 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
}

.carousel-inner {
    height: 600px;
    display: flex;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:focus {
    outline: none;
}

/* General responsive styling for devices up to 800px */
@media (max-width: 800px) {
    .main-div {
        width: auto;
    }

    .background-div {
        width: auto;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        /* Safari */
        justify-content: center;
    }

    .overlay-div {
        padding: 0 15px;
    }

    .inter-div {
        display: -webkit-box;
        /* Safari */
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -webkit-box-orient: vertical;
        /* Safari */
        -webkit-box-direction: normal;
        /* Safari */
        -ms-flex-direction: column;
        /* IE10 */
        flex-direction: column;
        align-items: center;
        background-color: #F5F7F8;
        width: auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        /* Safari */
        padding: 40px 30px;
    }

    .middle-div {
        width: 100%;
    }

    .middle-div .profile-details p {
        font-size: 28px;
        font-weight: 500;
        line-height: 45px;
    }

    .profile-details .fonction {
        font-size: 24px;
    }

    .bottom-div {
        width: 100%;
        padding: 0 50px;
    }

    .bottom-div h3 {
        margin-top: 15px;
        color: #4e535c;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 18px;
    }

    .bottom-div p {
        font-size: 14px;
    }

    .profile-details {
        margin-top: 20px;
    }

    .bottom-div {
        padding-left: 20px;
    }

    .carousel-inner {
        height: auto;
        margin-bottom: 20px;
    }
}